<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <!-- BootStrap File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all.css" />
    <link rel="stylesheet" href="assets/css/hover-min.css" />

    <!-- Css File -->
    <link rel="stylesheet" href="assets/css/works.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300&family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet" />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="lang d-flex justify-content-between">
          <a href="" class="l d-flex align-items-center justify-content-center btn btn-secondary">EN</a>
          <a href="" class="m d-flex align-items-center justify-content-center mx-3 btn btn-warning">إستشارة مجانية</a>
        </div>
        <div class="nav">
          <a href="" class="hvr-underline-from-center">تواصل معنا</a>
          <a href="" class="hvr-underline-from-center">اعمالنا</a>
          <a href="last.html" class="hvr-underline-from-center">خدماتنا</a>
          <a href="" class="hvr-underline-from-center">تعرف علينا</a>
          <a href="" class="hvr-underline-from-center">الرئيسية</a>
        </div>
        <div class="logo">
          <img src="assets/images/Group 5.svg" alt="">
        </div>
      </header>
      <div class="bars">
        <div class="d-flex justify-content-between align-items-center w-100 cc">
          <i id="click" class="fas fa-bars"></i>
        <img src="assets/images/Group 5.svg" alt="">
        </div>
        <div id="barhidden" class="barhidden">
          <a href="" class="hvr-grow-shadow">تواصل معنا</a>
          <a href="" class="hvr-grow-shadow">اعمالنا</a>
          <a href="last.html" class="hvr-grow-shadow">خدماتنا</a>
          <a href="" class="hvr-grow-shadow">تعرف علينا</a>
          <a href="" class="hvr-grow-shadow">الرئيسية</a>
        </div>
      </div>
        <div class="content-1">
            <div class="paragraph_content">
                <h1>مشاريعنا</h1>
            <p>عرض بعض من أعمالنا ومشاريعنا في السوق الخليجي</p>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="containerbyme">
        <div class="tab-wrap">

            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">الكل</label>
        
            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">مواقع الويب</label>
        
            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">تطبيقات الموبايل</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">التسويق الرقمي</label>

            <input type="radio" id="tab5" name="tabGroup1" class="tab">
            <label for="tab5">إنتاج الصوت</label>

            <input type="radio" id="tab6" name="tabGroup1" class="tab">
            <label for="tab6">إنتاج الفيديو</label>
        
            <div class="tab__content">
                <div class="parent_cards">

                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            
                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card" style="background-image: url('assets/images/image\ 10.png')">
                    <div class="content_card rel">
                        <div class="content__">
                        <img src="assets/images/Rectangle 144.png" alt="">
                        <div class="child_cc">
                            <h2>تصميم واجهات المستخدم UI/UX</h2>
                            <div class="spans">
                                <span>تطبيقات الموبايل</span>
                                <span>التصميم</span>
                                <span>UI/UX</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
            </div>
        
            <div class="tab__content">
                <div class="parent_cards">

                    <div class="card" style="background-image: url('assets/images/image\ 15.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 15.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 15.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                
                  
                  
                    
                </div>
            </div>
        
            <div class="tab__content">
                <div class="parent_cards">

                    <div class="card" style="background-image: url('assets/images/image\ 13.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 13.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 13.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                 
                
                  
                  
                    
                </div>
            </div>

            <div class="tab__content">
                <div class="parent_cards">

                    <div class="card" style="background-image: url('assets/images/image\ 12.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 12.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 12.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                   
                 
                
                  
                  
                    
                </div>
              
            </div>
            <div class="tab__content">
                <div class="parent_cards">

                    <div class="card" style="background-image: url('assets/images/image\ 11.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 11.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 11.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                  
                 
                
                  
                  
                    
                </div>
              
            </div>
           

            <div class="tab__content">
                <div class="parent_cards">

                    <div class="card" style="background-image: url('assets/images/image\ 14.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card" style="background-image: url('assets/images/image\ 14.png')">
                        <div class="content_card rel">
                            <div class="content__">
                            <img src="assets/images/Rectangle 144.png" alt="">
                            <div class="child_cc">
                                <h2>تصميم واجهات المستخدم UI/UX</h2>
                                <div class="spans">
                                    <span>تطبيقات الموبايل</span>
                                    <span>التصميم</span>
                                    <span>UI/UX</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                   
                 
                 
                
                  
                  
                    
                </div>
              
              
            </div>
            
        
          </div>
        
        </div>
        
        </div>
    </div>

    <!-- BootStrap js File -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- js file -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/myScript.js"></script>
</body>

</html>